.MyAchievementsContent {
  width: 100%;
  max-width: 100%;
  min-width: 0;
  height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;

  padding: 40px;
  gap: 20px;

  display: flex;
  flex-direction: column;

  header {
    display: flex;
    margin-bottom: 10px;
    width: 100%;
    align-items: center;
    gap: 10px;
  }

  main {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    align-items: stretch;
    justify-content: flex-start;
  }
}

@media (max-width: 768px) {
  .AchievementsContent {
    padding: 10px;

    main {
      width: 100%;
      margin: 0 auto;
      justify-content: space-evenly;
    }
  }
}