.FilterBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;

  border-radius: 11px;
  padding: 9px;
  width: 131px;
  height: 34px;
  background: #f6f6f6;

  font-weight: 700;
  font-size: 12px;
  letter-spacing: 0.01em;
  text-align: center;
  color: #0c0c0d;
}