.HomePage {
  &__content {
    width: 100%;
    max-width: 100%;
    min-width: 0;
    height: 100%;
    overflow: hidden;

    display: flex;
    align-items: stretch;
    justify-content: flex-start;
  }
}